<!doctype html>
<html lang="en">

<head>
    <title>Test</title>
    {% include 'head.twig' %}
</head>

<body id="body-pd">

    {% include content %}
    {% include 'loading.twig' %}

</body>

</html>