<div class="steps step4 mb-3">
    <table class="h-100 w-100">
        <tr>
            <td>
                <div class="mb-3 fw-bold fs-6 text-center">Choose the delivery method</div>
                <div class="d-flex justify-content-center">
                    <div>
                        {% for key,item in dicts.delivery %}
                        <div class="form-check mb-2">
                            <input name="rb_delivery"
                                   id="rb_delivery{{ item.delivery_id }}"
                                   type="radio"
                                   class="form-check-input"
                                   value="{{ item.delivery_id }}"
                                   {% if settings.defaults.delivery_id == item.delivery_id %}checked{% endif %}>
                            <label class="form-check-label" for="rb_delivery{{ item.delivery_id }}">{{ item.title }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<script>
    $(() => {
        function changeSummaryDelivery() {
            const val = $("[name=rb_delivery]:checked").val();
            const text = $(`[for=rb_delivery${val}]`).html();
            $(".summary .delivery span").html(text);
            new_page.calc();
        }
        $("[name=rb_delivery]").change(changeSummaryDelivery);
        changeSummaryDelivery();
    });
</script>