<div class="steps step6 mb-3">
    <table class="h-100 w-100">
        <tr>
            <td>
                <div class="mb-3 fw-bold fs-6 text-center">Choose video format</div>
                <div class="d-flex justify-content-center">
                    <div>
                        {% for key,item in dicts.format %}
                            <div class="form-check mb-2">
                                <input name="rb_format"
                                       id="rb_format{{ item.format_id }}"
                                       type="radio"
                                       class="form-check-input"
                                       value="{{ item.format_id }}"
                                       {% if settings.defaults.format_id == item.format_id %}checked{% endif %}>
                                <label class="form-check-label" for="rb_format{{ item.format_id }}">{{ item.title }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<script>
    $(() => {
        function changeSummaryFormat() {
            const val = $("[name=rb_format]:checked").val();
            const text = $(`[for=rb_format${val}]`).html();
            $(".summary .format span").html(text);
            new_page.calc();
        }
        $("[name=rb_format]").change(changeSummaryFormat);
        changeSummaryFormat();
    });
</script>